.full-width {
    width: 1200px;
    overflow: auto;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #f7f7f7;
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #d1d1d1;
        border-radius: 8px;
    }

    .row {
        width: 100%;
        flex-wrap: nowrap;
    }
}

@media (max-width: 575.98px) {
    .full-width {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .full-width {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .full-width {
        width: 90%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .full-width {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .full-width {
        width: 1200px;
    }
}

.small-card {
    border: 1px solid #ebebeb;
    border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
    transition: all .3s cubic-bezier(0,0,.5,1);
    &:hover {
        box-shadow: 2px 4px 16px #00000029;
        transform: scale3d(1.01, 1.01, 1.01);
    }
}

.card-titles {
    display: inline-flex;
    align-items: center;
    width: 100%;

    .doc-title {
        font-size: 1.2rem;
        margin: 0;
    }
}

.mat-hei {
    min-height: 125px;
}