// $primary: #6495ed; // Cornflowerblue
$primary: #526189; // Cornflowerblue
$primary-dk: #467fe6;
$primary-dk2: #0d47a10a;
$blue: #0d47a1;
$dim-gary: #707070;
$red: #db2626;
$red2: #ea021a; //#e60000;
$red3: #ed3b3b; //#e60000;
// $green: #12b94c;
$green: #2eb85c;
// $light-green: #90ee90;
$light-green: #48FA6F;
// $persian-green: #0f853f;
$persian-green: #1cc87a;

$danger: #f86c6b;
// $warn: #ffc107;
$warn: #FED505;
$info: #63c2de;
$white: #ffffff;
$ghost-white: #fdfdfd;
$gray1: #f0f3f5;
$gray2: #8e94a9;
$gray3: #c8ced3;
$gray4: #acb4bc;
$gray5: #8f9ba6;
$gray6: #738a8f;
$gray7: #5c6873;
$gray8: #2f353a;
$gray9: #23282c;
$bg-gray: #eeeeee;
$black: #0e1012;

$base: #00bcd4;
$secondary: #c8ced3;
$success: #4dbd74;
$secondary2: #1976d2;

$theme-blue: #321fdb;
$cornFlower-blue: #6495ed;
$text-blue: #0093ff;

//  Colors for buttons
$add: #0166ff;
$save: #0166ff;
$edit: #1a73e8;
$update: #0170be;
$create: #6495ed;
$next: #1450a8;

// Colors For side Menu

$light-menu: #323f5b;
$dark-menu: #3c4a69;


$light-menu-text: #9ea9b7;

// $light-menu: #1e1e2f;
// $dark-menu: #26304d;

// $light-menu: #323f5b;
// $dark-menu: #313a46;
