// @import "../../style/variables";
@import "../styles/color-variables";

mat-sidenav {
    border-right: none;
    background-color: rgba(0, 0, 0, 0.04);
}

mat-sidenav-container {
    height: 117.6vh;
    z-index: auto;
    background-color: #f2f3f500;
    @media only screen and (min-width: 1366px) {
        height: 91vh !important;
    }
}

mat-sidenav-content {
    z-index: auto;
}
.page-land{
    padding: 20px 0px 20px 20px;
}
.mat-drawer-content::-webkit-scrollbar {
    width: 0px;
}

.mat-drawer-content::-webkit-scrollbar-thumb {
    background-color: #e4e4e4;
    border-radius: 10px;
}

.po-sty {
    position: sticky;
    top: 0;
    z-index: 999;
}

.mac-screen::ng-deep {
    .mat-drawer-inner-container {
        //Scroll css added by Nilam
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0px !important;
            height: 2px;
            border-radius: 8px;
        }

        &:hover {
            &::-webkit-scrollbar {
                width: 0px;
                height: 2px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 8px;

                &:hover {
                    background: grey;
                }
            }
        }
    }
}