.width-240 {
    transition: width 0.266s ease-in 0s;
    width: 230px;
    display: flex;
    flex-flow: column;
    height: 100%;
    // justify-content: space-between;
}

.new-btn {
    margin: 20px 25px;
}

ul {
    font-size: 15px;
    color: #6e6e73;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        display: inline-flex;
        align-items: center;
        padding: 12px;
        padding-left: 24px;
        cursor: pointer;
    }

    .menu-img {
        margin-right: 10px;
    }

    .active-menu {
        color: #1d1d1d;

        &::before {
            content: "";
            width: 0;
            position: absolute;
            height: 0;
            margin-left: 5px;
            left: 0;
            border: 1px solid #1d1d1d;
            border-radius: 8px;
            border-width: 10px 0 10px 3px;
        }

        img {
            filter: brightness(0) saturate(100%) invert(8%) sepia(5%) saturate(648%) hue-rotate(202deg) brightness(96%) contrast(91%);
        }
    }
}

.mat-expansion-panel::ng-deep {
    box-shadow: none;
    border-radius: 0px !important;
    background: transparent;

    .mat-expansion-panel-body {
        padding: 0rem;
        overflow: auto;

        &::-webkit-scrollbar {
            background-color: rgba(151, 158, 168, 0.8);
            width: 0px;
            height: 0px;
            border-radius: 8px;
        }
    }

    &::ng-deep.mat-expansion-indicator {
        padding-right: 10px;
        padding-left: 10px;
        display: none;

        &::after {
            color: rgba(0, 0, 0, 0.88);
        }
    }

    &:hover {
        &::ng-deep.mat-expansion-indicator {
            display: block;
        }
    }
}

.mat-expansion-panel-header {
    height: 36px !important;
    padding: 0px 0px 0px 24px !important;
    background-color: #f6f8fa00;
    color: #282c33;
    border-radius: 0px;

    &:focus {
        background: #f6f8fa00 !important;
    }

    &:hover {
        background: #f6f8fa00 !important;
    }

    .mat-expansion-panel-header-title {
        color: rgba(0, 0, 0, 0.88);
        font-size: 15px;
        font-family: 'CircularStd-medium';
    }
}




.button-group {
    display: inline-flex;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 120%;
    padding: 4px;
    left: 0;
    font-size: 15px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    z-index: 1;
    min-width: 100%;
    transform-origin: top left;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 8px 16px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
    animation: 300ms cubic-bezier(0.1, 0.9, 0.2, 1) menuExpandContentsAnimation;
}

.dropdown-menu a {
    text-decoration: none;
    color: #40545E;
    height: 36px;
    line-height: 36px;
    display: block;
    cursor: pointer;
    padding: 0px 8px 0px 4px;
    text-align: left;
    border-radius: 4px;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.show {
    display: block;
}