.button-group {
    display: inline-flex;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 120%;
    padding: 4px;
    font-size: 15px;
    left: 0;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    z-index: 1000;
    width: 185px;
    transform-origin: top left;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 8px 16px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
    animation: 300ms cubic-bezier(0.1, 0.9, 0.2, 1) menuExpandContentsAnimation;
}

.dropdown-menu a {
    text-decoration: none;
    color: #40545E;
    height: 36px;
    line-height: 36px;
    display: block;
    cursor: pointer;
    padding: 0px 8px 0px 4px;
    text-align: left;
    border-radius: 4px;
}

.dropdown-menu.show {
    display: block; // Make the dropdown visible
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.show {
    display: block;
}




.copySuccess {
    color: #000;
    padding: 3px;
    background-color: #DFF6DD;
    border-radius: 3px;
    display: flex;
    word-spacing: 0.5px;

    .link {
        font-weight: 550;
        font-family: 'CircularStd-medium';
        font-size: 14px;
        align-items: flex-start;
        align-items: center;
        display: inline-flex;

        mat-icon {
            color: #107C10;
        }
    }
}