.tree-structure {
    .side-ng-grid {
        position: relative;
    }

    .tree-demo-container {
        position: absolute;
        z-index: 10;
        border-radius: 8px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: rgba(0, 0, 0, 0.14) 0px 8px 16px, rgba(0, 0, 0, 0.12) 0px 0px 2px;
        width: 100%;
        padding: 4px;
        top: 10%;
        height: 200px;
        overflow: auto;

        &::-webkit-scrollbar {
            background-color: rgba(151, 158, 168, 0.8);
            width: 0px;
            height: 0px;
            border-radius: 8px;
        }

        &:hover {
            &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(151, 158, 168, 0.8);
                border-radius: 8px;

                &:hover {
                    background: grey;
                }
            }
        }
    }



    .example-tree-invisible {
        display: none;
    }

    .example-tree .mat-nested-tree-node .nested-node {
        padding-left: 40px;
    }

    .tree-node-container {
        position: relative;

        .icon-on-hover {
            position: absolute;
            right: -21px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            display: none;
            cursor: pointer;
        }

        &:hover .icon-on-hover {
            display: block;
        }
    }

}